.listItemIcon1, .listItemIcon2, .listItemIcon3 {
  color: white;
  font-size: 22px;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0.15em;
  border: 1px none;
  border-radius: 0.2em;
}

.listItemIcon1 {
  background-color: #BD6057;
}

.listItemIcon2 {
  background-color: #5F63AC;
  font-size: 12px;
}

.listItemIcon3 {
  background-color: #FEA43F;
}

.listItem:hover {
  background-color: #5F63AC;
}

